@use "./variables";
@use "./reset";

.ant-btn-primary {
  box-shadow: none;
}

.ant-table-wrapper .ant-table {
  color: var(--matrix-text);
}

.ant-input,
.ant-select-selector,
.ant-input-affix-wrapper {
  border-color: var(--matrix-border) !important;
  border-radius: var(--matrix-radius) !important;
}

.ant-input:focus,
.ant-input-affix-wrapper-focused,
.ant-select-focused .ant-select-selector {
  border-color: var(--matrix-primary) !important;
  box-shadow: 0 0 0 2px rgb(11 102 253 / 8%) !important;
}
