* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-width: 1280px;
  min-height: 100%;
  margin: 0;
}

body {
  color: var(--shentu-color-text);
  font-family: var(--shentu-font-family);
  background: var(--shentu-color-bg-layout);
}

button,
input,
textarea,
select {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
