* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-width: 1280px;
  height: 100%;
  margin: 0;
}

body {
  color: var(--matrix-color-text);
  font-family: var(--matrix-font-family);
  font-size: 14px;
  background: var(--matrix-color-page-bg);
}

button,
input,
textarea,
select {
  font: inherit;
}
